@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;800;900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Krona+One&display=swap);

*{/*reset*/
    margin: 0;
    padding: 0;
}

body{
    background-color: #000000;
    color: #F6F6F6;
    height: 100vh;
    box-sizing: border-box;
}
.texto-inicial{/*<h1>*/
    font-family: 'Krona One', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 36px;

}

.destaque-texto{/*strong*/
    color: #22D4FD;
}

.texto-principal{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
}

.exibicao{/*main*/
    display: flex;
    margin: 10% 15%;
    align-items: center;
    justify-content: space-between;
}

.exibicao__conteudo{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.texto_ancoras{
    display: flex;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    color: #000000;
}
.texto__ancoras__ancora {
    background-color: #22D4FD;
    width: 280px;
    text-align: center;
    border-radius: 16px;
    font-size: 24px;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
}

footer {/*rodapé*/
    font-family: 'Montserrat', sans-serif;
    background-color: gray;
    color: white;
}

